.container-products{
    padding-left: 25vh !important;
    padding-right: 25vh !important;
    padding-top: 1vh !important;
    padding-bottom: 3vh !important;
}
.title-container-products{
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left: 25vh !important;
    padding-right: 25vh !important;
    font-size: 2vh;
}
.hr-container-products{
    max-width: 6vh;
    height: 0.4vh !important;
    margin-top: 0px !important;
}
.body-card{
    background-color: #E6E8EA;
}
.title-card{
    font-size: 0.9em !important;
    color: #7A7A7A;
}
.style-star{
    color: red;
}
.style-card{
    width: 18rem;
    border: 0px !important;
    padding-right: 3vh;
}
.style-list-group{
    border: 0px !important;
    padding: 0px !important;
}
.small-size{
    font-size: 0.8em;
    color: #7A7A7A;
}
.style-arrow{
    border: 0px !important;
    background-color: white;
}
.style-icon-arrow{
    height: 2em;
    width: 2em;
    color: black;
}