.style-container{
    padding-left: 25vh !important;
    padding-right: 25vh !important;
    padding-top: 1vh !important;
    padding-bottom: 3vh !important;
    background-color: #F2F2F2;
}
.title-newsletter{
    padding-top: 2vh;
    padding-bottom: 1vh;
}
.field-nl{
    margin-right: 1vh;
    border: 0px;
    background-color: white !important;
    height: 3vh;
    width: 15vh;
    font-size: 0.8em;
    color: black !important;
}
.style-form{
    padding-top: 1vh;
}
.form__error {
    margin: 0.5rem;
    color: orangered;
    font-size: 0.8em;
}